# Dependencies
node_modules/
**/node_modules/

# Build output
dist/
**/dist/
.vercel/
.next/

# Env — NUNCA committear
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*

# Editor / OS
.DS_Store
.vscode/
.idea/

# TS
*.tsbuildinfo
